<footer class="footer">
    <span>
        <h1>BidVerse<h6>A new Dimension Of Auction </h6></h1>
    </span>
    
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-md-3">
                <h5>About BidVerse</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Announcements</a></li>
                    <li><a href="#">Community</a></li>
                    <li><a href="#">Security Center</a></li>
                </ul>
            </div>

            <!-- Help Section -->
            <div class="col-md-3">
                <h5>Help & Support</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Help & Contact</a></li>
                    <li><a href="#">Policies</a></li>
                    <li><a href="#">Seller Center</a></li>
                </ul>
            </div>

            <!-- Affiliates Section -->
            <div class="col-md-3">
                <h5>More</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>

            <!-- Copyright Section -->
            <div class="col">
                <p>Copyright &copy; 2022-2025 BidVerse</p>
                <p>All rights reserved by the owners of BidVerse shri nashte .</p>
            </div>
        </div>
    </div>
</footer>