.auctionContainer {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px  ;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input,
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-top: 5px;
    width: 100%;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}
/* .center-placeholder {
    text-align: center; /* Centers the text inside 
}*/ 
  