<!-- <app-search></app-search> -->
<div class="card">

    <p-table [value]="pagedAuctions" [tableStyle]="{ 'min-width': '50rem' }">

        <!-- Table Header -->
        <ng-template #header>
            <td>
                <a *ngIf="role=='admin'" [routerLink]="'/live-bids'" class="live-bids-link">View Live Bids</a>
            </td>

            <tr>
                <th>Auction Id</th>
                <th>Title</th>
                <!-- <th>Description</th> -->
                <th>Start Price</th>
                <th>Start Time</th>
                <th>End Time</th>
                <!-- <th>Category</th> -->
                <th>Bid</th>
                <th>Details</th>
                <th *ngIf="role=='admin'">Delete</th>
            </tr> 
        </ng-template>

        <!-- Table Body -->
        <ng-template #body let-auction>
            <tr>
                <td style=" font-size: larger;">{{ auction.id }}</td>
                <td style=" font-size: larger;">{{ auction.title }}</td>
                <!-- <td style=" font-size: larger;">{{ auction.description }}</td> -->
                <td style=" font-size: larger;">{{ auction.startPrice | currency: 'INR' }}</td>
                <td style=" font-size: larger;">{{ auction.startTime | date: 'short' }}</td>
                <td style=" font-size: larger;">{{ auction.endTime | date: 'short' }}</td>
                <!-- <td style=" font-size: larger;">{{ auction.category }}</td> -->

                <!-- Place Bid Button -->
                <!-- <td style="font-size: larger;">
                    <p-button label="Place Bid" class="place-bid-button" (click)="toggleBidForm(auction.id)" />
                    <div *ngIf="selectedAuctionId === auction.id">
                        <app-bid-form [auctionId]="auction.id"></app-bid-form>
                    </div>
                </td> -->
                <td style="font-size: larger;">
                    <p-button label="Place Bid" class="place-bid-button" (click)="showDialogBid(auction.id)" />
                </td>
                
                <p-dialog header="Place Your Bid" [(visible)]="visibleBid" [modal]="true" [style]="{ width: '25rem' }">
                    <app-bid-form *ngIf="selectedAuctionId" [auctionId]="selectedAuctionId"></app-bid-form>
                </p-dialog>
                


                <!-- Auction Details Button -->
                <td class="card flex justify-center">
                    <p-button (click)="showDialog()" label="Details" (click)="toggleDetails(auction.id)" />
                    <p-dialog header="Details" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
                        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true"
                        *ngIf="selectedAuctionDetails === auction.id">
                        <p>
                            <app-details-auction [auctionId]="auction.id" [description]="auction.description"
                                [category]="auction.category"></app-details-auction>
                        </p>
                    </p-dialog>
                </td>
                <td style="font-size: larger;" *ngIf="role=='admin'">
                    <p-button label="Delete" (click)="onDeleteAuction(auction.id)" />

                </td>
            </tr>
        </ng-template>
    </p-table>

    <!-- Pagination -->
    <div class="card flex justify-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
            [totalRecords]="auctions.length" [rowsPerPageOptions]="[10, 20, 30]">
        </p-paginator>
    </div>
</div>